<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/home.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='assets/favicon.png') }}">
    <title>Home</title>
</head>
<body class="body">
    <h1>Olá, {{ nome }}</h1>

    <div class="conteudo-1">
        <p id="p-home">Saldo em conta : 
        <strong>R$ {{ "%.2f"|format(saldo)|replace('.', ',') }}</strong></p>

        <p>Limite de crédito : 
        <strong>R$ {{ "%.2f"|format(limite)|replace('.', ',') }}</strong></p>
        <div class="operacoes">
            <a class="button-operacoes" href="{{ url_for('conta.depositar') }}">
                Depositar
            </a>
            <a class="button-operacoes" href="{{ url_for('conta.sacar') }}">
                Sacar
            </a>
            <a class="button-operacoes" href="{{ url_for('conta.transferencia') }}">
                Transferir
            </a>
            <a class="button-operacoes" href="{{ url_for('conta.historico') }}">
                Historico
            </a>
        </div>
    </div>
    
    <br>
    <a id="button1" href="{{ url_for('auth.login') }}">Sair</a>

</body>
</html>