<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/login.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='assets/favicon.png') }}">
    <title>Login</title>
</head>
<body>
    <h1> Login </h1>
    <div class="conteudo-2">
        <form method="POST">
            <input class="input" type="text" name="nome" placeholder="Nome" required>
            <br>
            <input class="input" type="text" name="cpf" placeholder="CPF" required>
            <br>
            <button id="button-cadastrar" type="submit">Login</button>
        </form>
    </div>
    <br>
    <a id="button1" href="{{ url_for('auth.cadastro') }}">Cadastrar</a>
</body>
</html>